extends ../layout


block content
  
  a(href='./books/new')='Add a Book'
  table
    thead
      tr
        th ID
        th Title
    tbody
      for book in books
        tr
          td
            strong= book.id
          td
            a(href="books/"+book.id)= book.title
  if page > 1
    a(href="/?page="+(page-1)) prev
  a(href="/?page="+(page+1)) next
//- // div
//- //  if page > 1
//- //    a(href="/books?page="+(page-1)) Prev
//- //    a(href="/books?page"+(page+1)) Next
