extends ../layout

block content
  h1= book.title
  p= book.description

  h4 Authors
  ul
    for author in book.authors
      li= author.name

  h4 Genres
  ul
    for genre in book.genres
      li= genre.title
