doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    form(action="/", method="get")
      input(type="text" name="search_query", placeholder="Search by Title, Author or Genre")
      input(type="submit", value="Search Now!")
    block content
